@use "../../styles/partials/mixin" as *; 
@use "../../styles/partials/variables" as *; 
@use "../../styles/partials/typography" as *; 

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        @include tablet{
            width: $tablet-screen-size;
        }
        @include desktop{
            width: $desktop-screen-size;
        }
    }
    &__hero{
        padding: 2rem 1rem;
        margin-bottom: 1rem;
        background-color: $color-alternate;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__heading{
        color: $color-secondary;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    &__title{
        color: $color-secondary;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &__btn{
        background-color: $color-secondary;
        color: $color-primary;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.4s ease;
        &:hover{
            background-color: $color-secondary;
            color: $color-primary;
        }
    }
    &__img-div{
        width: 100%;
        height: 300px;
        margin-bottom: 1rem;
        border-radius:0.75rem;
        @include tablet{
            width: 50%;
            height: 50vh;
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:0.75rem;
    }
    &__top{
        @include tablet{
            width: 50%;
        }
    }
}
