/* Media Size */
$tablet-screen-size: 48rem;
$desktop-screen-size: 80rem;

/* Palette */

$color-primary:#E23664; 
$color-alternate: #df718e; 
$color-secondary: #FFF; 
$color-tertiary: #FBF7F7;

$text-primary: #40322E; 
