@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    &__container{
        // height: 91vh;
        // overflow-y: scroll;
        @include tablet{
            width: $tablet-screen-size;
        }
        @include desktop{
            width: $desktop-screen-size;
        }
    }
    &__carousel{
        // height: 25vh;
        margin-top: 1rem;
        width: 100%;
    }
    &__tile-div{
        margin-block: 2rem;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
    }
}