@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-inline: 1rem;
  padding-top: 1rem;
  background-color: $color-secondary;
  position: sticky;
  top: 0;
  z-index: 999;
  &__main {
    padding-inline: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      @include tablet {
        width: $tablet-screen-size;
      }
      @include desktop{
        width: $desktop-screen-size;
      }
  }
  &__logo-link {
    text-decoration: none;
  }
  &__logo-div {
    height: 5rem;
    width: 5rem;
    @include tablet{
      height: 3rem;
      width: 3rem;
    }
  }
  &__logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__menu{
    display: none;
    @include desktop{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    &--mobile{
      position: absolute;
      background-color:$color-secondary;
      z-index: 99;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      top: 3rem;
      right: 0;
      height: 91vh;
      width: 100vw;
      // margin: 0;
      @include tablet{
        width: 50%;
        background-color: rgba($color: $color-secondary, $alpha: 0.95);
      }
      @include desktop{
        display: none;
      }
    }
  }
  &__item{
    display: none; 
    @include desktop{
      @include menu-items;
      margin-inline: 2rem;
      display: inline-block;
    }
    &--mobile{
      @include menu-items;
    }
  }
  &__active{
    color: $color-primary;
    text-decoration: none;
  }
  &__link{
    text-decoration: none;
    color: $text-primary;
  }
  &__icon-div{
    @include desktop{
      display: none;
    }
  }
  &__icon{
    cursor: pointer;
  }

}
