@use "../../styles/partials/typography" as *; 
@use "../../styles/partials/variables" as *; 
@use "../../styles/partials/mixin" as *; 

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__container{
        // height: 91vh;
        // overflow-y: scroll;
        @include tablet{
            width: $tablet-screen-size;
        }
        @include desktop{
            width: $desktop-screen-size;
        }
    }
    &__top-section{
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 1rem;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__copy-section{
        background-color: $color-primary;
        width: 100vw;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
    &__copy{
        color: $color-tertiary;
        font-size: 0.75rem;
        font-family: Outfit, sans-serif;
        font-weight: 400;
        @include tablet{
            width: $tablet-screen-size;
        }
        @include desktop{
            min-width: $desktop-screen-size;
        }
    }
    &__top-div{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            width:50%;
        }
    }
    &__header{
        margin-bottom: 1rem;
        color: $color-primary;
        font-family: Outfit, sans-serif;
    }
    &__p{
        font-family: Roboto, sans-serif;
        font-size: 0.875rem;
        margin-bottom: 1rem;
    }
    &__menu{
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @include tablet{
            flex-direction: column;
        }
    }
    &__item{
        font-family: Outfit, sans-serif;
        color: $color-primary;
        margin-bottom: 1rem;
        cursor: pointer;
    }
    &__icon-link{
        text-decoration: none;
    }
    &__icon{
        font-size: 1.5rem;
        color: $color-primary;
    }
}